/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grandis Extended";
  src: url("../fonts/GrandisExtended-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Travels", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 8.813rem;
  box-sizing: border-box;
}

.experts-wrap {
  min-width: 320px;
  max-width: 1220px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 6.875rem;
  box-sizing: border-box;
}

.categories-wrap {
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 7.938rem;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Grandis Extended";
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

p,
span,
a {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1350px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 1190px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 960px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 860px) {
  .wrap {
    padding: 0 7.05rem;
  }
}
@media (max-width: 660px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 475px) {
  .wrap {
    max-width: 100%;
    padding: 0 1.3rem;
    box-sizing: border-box;
  }
  .categories-wrap {
    max-width: 100%;
    padding: 0 1.3rem;
    box-sizing: border-box;
  }
  html {
    font-size: 100%;
  }
}
.header {
  background: #FFFFFF;
  padding: 2.75rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.header__logo {
  width: 9.5rem;
  height: 2.938rem;
}
.header__logo img {
  width: 9.5rem;
  height: 2.938rem;
}
.header__link {
  display: flex;
  gap: 4.875rem;
  align-items: center;
}
.header__nav {
  text-align: center;
}
.header__nav ul {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.563rem;
}
.header__nav-item {
  text-align: center;
}
.header__nav-item a {
  display: inline-block;
  align-items: center;
  font-family: "Actay Wide";
  color: #4093FF;
  text-decoration: none;
  line-height: 1.875rem;
  font-size: 1.5rem;
  align-self: center;
}
.header__btn {
  background: linear-gradient(to bottom right, #A1FF8B, #3F93FF);
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 0.688rem 3.344rem 0.688rem 3.344rem;
  border-radius: 6.25rem;
  cursor: pointer;
  border: none;
  font-family: "Actay Wide";
}

@media (max-width: 860px) {
  .header {
    padding: 2.2rem 0;
    position: static;
  }
  .header__container {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    width: 7.6rem;
    height: 2.35rem;
  }
  .header__logo img {
    width: 7.6rem;
    height: 2.35rem;
  }
  .header__link {
    gap: 3.9rem;
  }
  .header__nav ul {
    gap: 2.85rem;
  }
  .header__nav-item a {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .header__btn {
    font-size: 1rem;
    padding: 0.55rem 2.68rem;
  }
}
@media (max-width: 475px) {
  .header {
    padding: 1.5rem 0;
    flex-wrap: wrap;
  }
  .header__logo {
    width: 7.6rem;
    height: 2.35rem;
  }
  .header__logo img {
    width: 7.6rem;
    height: 2.35rem;
  }
  .header__link {
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  .header__nav {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header .burger__btn {
    display: block;
  }
}
.about {
  position: relative;
  padding: 13.188rem 0 5.625rem 0;
  background: linear-gradient(to top left, #A1FF8B, #3F93FF);
}
.about::before {
  content: "";
  position: absolute;
  top: 8.313rem;
  right: 0;
  width: 73.188rem;
  height: 41.813rem;
  background: url(/future-tourism/assets/img/about-background-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.about__text h1 {
  line-height: 5.063rem;
  font-size: 3.938rem;
  margin-bottom: 1.313rem;
}
.about__text-paragraph {
  width: 27.875rem;
  line-height: 2.375rem;
  font-size: 2rem;
  border-top: 0.125rem solid #FFFFFF;
  padding: 0.875rem 0 1.375rem 0.375rem;
}
.about__text-wrapper {
  font-weight: 500;
  width: 16.813rem;
  margin-left: 0.375rem;
  padding: 0.188rem 2.063rem;
  background-color: #FFFFFF;
  color: #191919;
  line-height: 2.375rem;
  font-size: 2rem;
  border-radius: 6.25rem;
}

@media (max-width: 860px) {
  .about {
    padding: 10.55rem 0 4.5rem 0;
  }
  .about::before {
    top: 6.65rem;
    width: 58.55rem;
    height: 33.45rem;
  }
  .about__text h1 {
    line-height: 4.05rem;
    font-size: 3.15rem;
    margin-bottom: 1.05rem;
  }
  .about__text-paragraph {
    width: 22.3rem;
    line-height: 1.9rem;
    font-size: 1.6rem;
    border-top: 0.1rem solid #FFFFFF;
    padding: 0.7rem 0 1.1rem 0.3rem;
  }
  .about__text-wrapper {
    width: 13.45rem;
    margin-left: 0.3rem;
    padding: 0.15rem 1.65rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    border-radius: 5rem;
  }
}
@media (max-width: 475px) {
  .about {
    padding: 2.25rem 0 0 0;
  }
  .about::before {
    top: 17.7rem;
    right: 0;
    width: 25.813rem;
    height: 18.313rem;
  }
  .about__text h1 {
    line-height: 2.563rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .about__text-paragraph {
    width: 100%;
    line-height: 1.5rem;
    font-size: 1.25rem;
    border-top: 0.1rem solid #FFFFFF;
    padding: 0.25rem 0 0.688rem 0;
  }
  .about__text-wrapper {
    width: 10.5rem;
    margin-left: 0;
    padding: 0.188rem 2.063rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 5rem;
    margin-bottom: 17.063rem;
  }
}
.project {
  padding: 4.125rem 0;
}
.project h3 {
  line-height: 2.375rem;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2.438rem;
  border-bottom: 0.125rem solid #000000;
}
.project__container {
  margin-top: 2.25rem;
}
.project__container-list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.project__container-item {
  display: flex;
  align-items: center;
  gap: 1.563rem;
}
.project__container-item img {
  width: 2.838rem;
  height: 2.838rem;
}
.project__container-paragraph {
  color: #10B2A4;
  font-weight: 700;
  font-size: 2rem;
}
.project__container-span {
  color: #191919;
  font-weight: 400;
}

@media (max-width: 860px) {
  .project {
    padding: 3.3rem 0;
  }
  .project h3 {
    line-height: 1.9rem;
    font-size: 1.6rem;
    padding-bottom: 1.95rem;
    border-bottom: 0.1rem solid #000000;
  }
  .project__container {
    margin-top: 1.8rem;
  }
  .project__container-list {
    gap: 1.8rem;
  }
  .project__container-item {
    gap: 1.25rem;
  }
  .project__container-item img {
    width: 2.27rem;
    height: 2.27rem;
  }
  .project__container-paragraph {
    font-size: 1.6rem;
  }
  .project__container-span {
    font-size: 1.6rem;
  }
}
@media (max-width: 475px) {
  .project {
    padding: 1.563rem 0 0.688rem 0;
  }
  .project h3 {
    line-height: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.594rem;
    border-bottom: 0.1rem solid #000000;
  }
  .project__container {
    margin-top: 0.813rem;
  }
  .project__container-list {
    gap: 0.813rem;
  }
  .project__container-item {
    gap: 0.875rem;
  }
  .project__container-item img {
    width: 1.438rem;
    height: 1.438rem;
  }
  .project__container-paragraph {
    font-size: 0.938rem;
  }
  .project__container-span {
    font-size: 0.938rem;
  }
}
.awards {
  padding-bottom: 1.313rem;
}
.awards__container {
  padding: 2.813rem 2.063rem 2.313rem 2.063rem;
  background: linear-gradient(to bottom right, #A1FF8B, #3F93FF);
  border-radius: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
}
.awards__container p {
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.awards__container a {
  font-family: "Grandis Extended", sans-serif;
  width: 32.5rem;
  background: #FFFFFF;
  color: #191919;
  font-size: 1.25rem;
  padding: 0.75rem 5.219rem 0.75rem 5.219rem;
  border-radius: 3.125rem;
  cursor: pointer;
  border: none;
  text-decoration: underline;
}

@media (max-width: 860px) {
  .awards {
    padding-bottom: 1.05rem;
  }
  .awards__container {
    padding: 2.25rem 1.65rem 1.85rem 1.65rem;
    border-radius: 2.5rem;
    gap: 1.4rem;
  }
  .awards__container p {
    line-height: 2.4rem;
    font-size: 2rem;
  }
  .awards__container a {
    width: 26rem;
    font-size: 1rem;
    padding: 0.6rem 4.175rem;
    border-radius: 2.5rem;
  }
}
@media (max-width: 475px) {
  .awards {
    padding: 1.375rem 0 1.188rem 0;
  }
  .awards__container {
    padding: 0.938rem 1.5rem 0.75rem 1.5rem;
    border-radius: 1.625rem;
    gap: 0.938rem;
  }
  .awards__container p {
    text-align: center;
    line-height: 1.188rem;
    font-size: 1rem;
  }
  .awards__container a {
    text-align: center;
    width: 100%;
    font-size: 0.875rem;
    padding: 0.781rem 1.125rem;
    border-radius: 3.125rem;
  }
}
.goal {
  padding: 3.938rem 0 5.75rem 0;
  background-image: url(/future-tourism/assets/icons/goal-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 0 right 6rem;
}
.goal__container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2.688rem;
  width: 47.25rem;
}
.goal__container h2 {
  font-family: "Grandis Extended", sans-serif;
  color: #191919;
  font-size: 2.5rem;
}
.goal__container p {
  font-size: 2rem;
  font-weight: 500;
  color: #191919;
  line-height: 2.375rem;
}

@media (max-width: 860px) {
  .goal {
    padding: 3.15rem 0 4.6rem 0;
    background-position: bottom 0 right 4.8rem;
  }
  .goal__container {
    gap: 2.15rem;
    width: 37.8rem;
  }
  .goal__container h2 {
    font-size: 2rem;
  }
  .goal__container p {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}
@media (max-width: 475px) {
  .goal {
    padding: 1.813rem 0 2.25rem 0;
    background-position: bottom 0 right -6.2rem;
  }
  .goal__container {
    gap: 1.188rem;
    width: 15.938rem;
  }
  .goal__container h2 {
    font-size: 1.5rem;
  }
  .goal__container p {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
}
.nominations {
  padding: 10rem 0 2.25rem 0;
  background: linear-gradient(to top left, #A1FF8B, #3F93FF);
}
.nominations__link {
  border: 0.063rem solid #FFFFFF;
  border-radius: 6.25rem;
  padding: 0.399rem 0.563rem;
  max-width: 36.688rem;
  width: 37%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.375rem;
  align-items: center;
  margin-bottom: 2.531rem;
}
.nominations__link-btn {
  width: 1.765rem;
  height: 1.765rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.nominations__link-btn img {
  width: 0.914rem;
  height: 0.582rem;
}
.nominations__link-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
}
.nominations h2 {
  font-family: "Grandis Extended", sans-serif;
  font-size: 3.938rem;
  margin-bottom: 2.5rem;
}
.nominations p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.625rem;
}

@media (max-width: 860px) {
  .nominations {
    padding: 8rem 0 1.8rem 0;
  }
  .nominations__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.32rem 0.45rem;
    max-width: 29.35rem;
    width: 29.6%;
    gap: 1.1rem;
    margin-bottom: 2.025rem;
  }
  .nominations__link-btn {
    width: 1.41rem;
    height: 1.41rem;
  }
  .nominations__link-btn img {
    width: 0.73rem;
    height: 0.465rem;
  }
  .nominations__link-text {
    font-size: 1rem;
  }
  .nominations h2 {
    font-size: 3.15rem;
    margin-bottom: 2rem;
  }
  .nominations p {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 860px) {
  .nominations {
    padding: 8rem 0 1.8rem 0;
  }
  .nominations__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.32rem 0.45rem;
    max-width: 29.35rem;
    width: 29.6%;
    gap: 1.1rem;
    margin-bottom: 2.025rem;
  }
  .nominations__link-btn {
    width: 1.41rem;
    height: 1.41rem;
  }
  .nominations__link-btn img {
    width: 0.73rem;
    height: 0.465rem;
  }
  .nominations__link-text {
    font-size: 1rem;
  }
  .nominations h2 {
    font-size: 3.15rem;
    margin-bottom: 2rem;
  }
  .nominations p {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
@media (max-width: 375px) {
  .nominations {
    padding: 1.438rem 0;
  }
  .nominations__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.32rem 0.45rem;
    max-width: 29.35rem;
    width: 29.6%;
    gap: 1.1rem;
    margin-bottom: 2.025rem;
  }
  .nominations__link-btn {
    width: 1.41rem;
    height: 1.41rem;
  }
  .nominations__link-btn img {
    width: 0.73rem;
    height: 0.465rem;
  }
  .nominations__link-text {
    font-size: 1rem;
  }
  .nominations h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .nominations p {
    font-size: 1rem;
    line-height: 1.188rem;
  }
}
@media (max-width: 475px) {
  .nominations {
    padding: 1.438rem 0 2.125rem 0;
  }
  .nominations__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.32rem 0.45rem;
    max-width: 29.35rem;
    width: 100%;
    gap: 0.438rem;
    margin-bottom: 1.125rem;
  }
  .nominations__link-btn {
    width: 1.41rem;
    height: 1.41rem;
  }
  .nominations__link-btn img {
    width: 0.73rem;
    height: 0.465rem;
  }
  .nominations__link-text {
    font-size: 1rem;
  }
  .nominations h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .nominations p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.categories {
  padding: 2.688rem 0 2.25rem 0;
}
.categories__container {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.25rem;
}
.categories__item {
  padding: 1.813rem 1.938rem 1.5rem 1.938rem;
  border: 0.438rem solid transparent;
  border-radius: 3.125rem;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom left, #A1FF8B, #3F93FF) border-box;
}
.categories__item p {
  font-weight: 600;
  font-size: 1.25rem;
  color: #191919;
}
.categories__item img {
  padding-top: 1rem;
  display: block;
  margin: 0 auto;
}
.categories__link {
  border: 0.063rem solid #191919;
  border-radius: 6.25rem;
  padding: 0.5rem 1.25rem;
  max-width: 36.688rem;
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.categories__link-text {
  font-size: 2rem;
  font-weight: 600;
  color: #191919;
  padding-left: 0.625rem;
}
.categories__link-btn {
  width: 4.438rem;
  height: 4.438rem;
  background-color: #191919;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.categories__link-btn img {
  width: 2.299rem;
  height: 1.463rem;
}
.categories__link-btn:hover {
  background-color: black;
}

@media (max-width: 860px) {
  .categories {
    padding: 2.15rem 0 1.8rem 0;
  }
  .categories__container {
    gap: 1.3rem;
  }
  .categories__list {
    gap: 1.8rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .categories__item {
    padding: 1.45rem 1.55rem 1.2rem 1.55rem;
    border-width: 0.35rem;
    border-radius: 2.5rem;
  }
  .categories__item p {
    font-size: 1rem;
  }
  .categories__item img {
    padding-top: 0.8rem;
    width: 14rem;
    height: auto;
  }
  .categories__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.4rem 1rem;
    max-width: 29.35rem;
  }
  .categories__link-text {
    font-size: 1.6rem;
    padding-left: 0.5rem;
  }
  .categories__link-btn {
    width: 3.55rem;
    height: 3.55rem;
  }
  .categories__link-btn img {
    width: 1.84rem;
    height: 1.17rem;
  }
}
@media (max-width: 475px) {
  .categories {
    padding: 1.313em 0 1.625rem 0;
  }
  .categories__container {
    gap: 1.25rem;
  }
  .categories__list {
    display: flex;
    flex-direction: column;
    gap: 0.688rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .categories__item {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    padding: 0.313rem 0.813rem;
    border-width: 0.2rem;
    border-radius: 0.813rem;
  }
  .categories__item p {
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1.188rem;
  }
  .categories__item img {
    padding-top: 0;
    width: 4.063rem;
    height: 3.563rem;
  }
  .categories__link {
    border-width: 0.05rem;
    border-radius: 5rem;
    padding: 0.5rem 0.695rem;
    max-width: 100%;
  }
  .categories__link-text {
    font-size: 1rem;
    padding-left: 0;
  }
  .categories__link-btn {
    width: 1.688rem;
    height: 1.688rem;
  }
  .categories__link-btn img {
    width: 0.874rem;
    height: 0.556rem;
  }
}
.stage {
  padding: 3.313rem 4.75rem;
  background: linear-gradient(to bottom right, #A1FF8B, #3F93FF);
}
.stage__title {
  margin-bottom: 3.125rem;
}
.stage__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 2.93rem;
  align-items: center;
  background-image: url(/future-tourism/assets/icons/vertical-line.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.stage__text > *:nth-child(even) {
  padding-left: 4rem;
}
.stage__text p {
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 860px) {
  .stage {
    padding: 2.65rem 3.8rem;
  }
  .stage__title {
    margin-bottom: 2.5rem;
  }
  .stage__text {
    row-gap: 2.34rem;
  }
  .stage__text > *:nth-child(even) {
    padding-left: 3.2rem;
  }
  .stage__text p {
    font-size: 1.5rem;
  }
}
@media (max-width: 475px) {
  .stage {
    padding: 2.025rem 1.671rem;
  }
  .stage__title {
    font-size: 1.215rem;
    text-align: center;
    margin-bottom: 1.063rem;
  }
  .stage__text {
    padding-left: 2.025rem;
    display: flex;
    flex-direction: column;
    gap: 0.405rem;
    align-items: flex-start;
    background-image: url(/future-tourism/assets/icons/vertical-line-mobile.svg);
    background-position: left;
    background-size: contain;
  }
  .stage__text > *:nth-child(even) {
    padding-left: 0;
    margin-bottom: 1.722rem;
    border-top: 0.063rem solid #FFFFFF;
    padding-top: 0.405rem;
  }
  .stage__text > *:last-child {
    margin-bottom: 0;
  }
  .stage__text p {
    font-size: 1.215rem;
  }
}
.experts {
  padding-top: 3.438rem;
  padding-bottom: 1.5rem;
}
.experts-wrap {
  position: relative;
  overflow: hidden;
}
.experts__title {
  color: #191919;
  margin-bottom: 3.75rem;
  text-align: center;
}
.experts__slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transform: translateY(-50%);
  padding: 0 1rem;
}
.experts__slider-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.experts__slider-btn img {
  width: 1.938rem;
  height: 3.313rem;
}
.experts__slider-viewport {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.experts__slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.experts__slider-container {
  flex: 0 0 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.438rem;
}
.experts__slider-container img {
  width: 16.75rem;
  height: 19.563rem;
  margin: 0 auto;
  object-fit: cover;
}
.experts__slider-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
  text-align: center;
}
.experts__slider-text-container h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 2.375rem;
}
.experts__slider-text-container p {
  padding: 0 2rem;
  color: #191919;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 1.063rem;
}

@media (max-width: 860px) {
  .experts {
    padding-top: 2.75rem;
    padding-bottom: 1.2rem;
  }
  .experts__title {
    margin-bottom: 3rem;
  }
  .experts__slider-controls {
    padding: 0 0.8rem;
  }
  .experts__slider-btn img {
    width: 1.55rem;
    height: 2.65rem;
  }
  .experts__slider-container {
    gap: 0.35rem;
  }
  .experts__slider-container img {
    width: 13.4rem;
    height: 15.65rem;
  }
  .experts__slider-text-container {
    gap: 0.35rem;
  }
  .experts__slider-text-container h3 {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .experts__slider-text-container p {
    padding: 0 1.6rem;
    font-size: 0.7rem;
    line-height: 0.85rem;
  }
}
@media (max-width: 475px) {
  .experts {
    padding-top: 1.3rem;
    padding-bottom: 1.45rem;
  }
  .experts-wrap {
    padding: 0 1.3rem;
  }
  .experts__title {
    width: 12.375rem;
    font-size: 1.2rem;
    margin-bottom: 0.85rem;
    text-align: left;
  }
  .experts__slider {
    gap: 0;
  }
  .experts__slider-controls {
    display: none;
  }
  .experts__slider-btn {
    display: none;
  }
  .experts__slider-btn img {
    display: none;
  }
  .experts__slider-container {
    width: 13.813rem;
    flex: 0 0 100%;
    gap: 0.28rem;
  }
  .experts__slider-container img {
    width: 10.72rem;
    height: 12.52rem;
  }
  .experts__slider-text-container {
    gap: 0.28rem;
  }
  .experts__slider-text-container h3 {
    font-size: 1.28rem;
    line-height: 1.52rem;
  }
  .experts__slider-text-container p {
    padding: 0 1.28rem;
    font-size: 0.56rem;
    line-height: 0.68rem;
  }
}
.possibilities {
  position: relative;
  padding: 3.75rem;
  background: linear-gradient(to bottom left, #A1FF8B, #3F93FF);
}
.possibilities::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 46.125rem;
  height: 92%;
  background-image: url(/future-tourism/assets/img/possibilities.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.possibilities h2 {
  margin-bottom: 3.75rem;
}
.possibilities__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.813rem;
}
.possibilities__container {
  padding: 1.025rem 0 1.025rem 2.5rem;
  width: 50%;
  border-radius: 6.25rem;
  background: linear-gradient(to right, #4F2CDA, #A020E4);
}
.possibilities__container-wrap {
  display: flex;
  flex-direction: row;
  gap: 1.313rem;
}
.possibilities__container-img {
  width: 2.813rem;
  height: 1.951rem;
  display: flex;
  align-self: center;
}
.possibilities__container-span {
  font-weight: 600;
  line-height: 1.813rem;
  font-size: 1.5rem;
}

@media (max-width: 860px) {
  .possibilities {
    padding: 3rem;
  }
  .possibilities::before {
    width: 36.9rem;
  }
  .possibilities h2 {
    margin-bottom: 3rem;
  }
  .possibilities__container {
    padding: 0.82rem 0 0.82rem 2rem;
    width: 40%;
  }
  .possibilities__container-wrap {
    gap: 1.05rem;
  }
  .possibilities__container-img {
    width: 2.25rem;
    height: 1.56rem;
  }
  .possibilities__container-span {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 475px) {
  .possibilities {
    padding: 2.188rem 0 0 0;
  }
  .possibilities::before {
    background-image: url(/future-tourism/assets/img/possibilities-mobile.svg);
    background-size: 21.768rem 12.711rem;
    background-position: bottom 0 right -4rem;
  }
  .possibilities__list {
    row-gap: 1.188rem;
  }
  .possibilities h2 {
    font-size: 1.5rem;
    line-height: 1.938rem;
    margin-bottom: 0.75rem;
  }
  .possibilities__container {
    padding: 0.75rem;
    width: 100%;
  }
  .possibilities__container:last-child {
    margin-bottom: 11.813rem;
  }
  .possibilities__container-wrap {
    gap: 1.05rem;
  }
  .possibilities__container-img {
    width: 1.625rem;
    height: 1rem;
  }
  .possibilities__container-span {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}
.join {
  padding: 3.75rem 0;
}
.join__wrap {
  background-image: url(/future-tourism/assets/icons/join__section-line.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.join__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.join__container h2 {
  color: #191919;
}
.join__container-right {
  position: relative;
}
.join__container-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: decimal;
}
.join__container-list_last {
  position: absolute;
  left: -1.8rem;
}
.join__container-item, .join__container-span {
  color: #191919;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}
.join__container-last {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}
.join__container-img {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-self: center;
}
.join__container-btn {
  display: flex;
  align-self: center;
  background: linear-gradient(to bottom right, #A1FF8B, #3F93FF);
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 0.75rem 4.25rem 0.75rem 4.25rem;
  border-radius: 6.25rem;
  cursor: pointer;
  border: none;
  font-family: "Actay Wide";
  margin-top: 5rem;
}
.join__container-btn_link {
  margin: 0 auto;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 0.063rem solid #FFFFFF;
}

@media (max-width: 860px) {
  .join {
    padding: 3rem 0;
  }
  .join__container {
    flex-direction: row;
  }
  .join__container h2 {
    font-size: 1.8rem;
  }
  .join__container-list {
    gap: 1.2rem;
  }
  .join__container-list_last {
    left: -1.44rem;
  }
  .join__container-item, .join__container-span {
    font-size: 1.2rem;
  }
  .join__container-last {
    gap: 0.48rem;
  }
  .join__container-img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .join__container-btn {
    margin-top: 4rem;
    font-size: 1rem;
  }
  .join__container-btn_link {
    padding-bottom: 0.08rem;
  }
}
@media (max-width: 475px) {
  .join {
    padding: 1.563rem 0;
  }
  .join__wrap {
    background-image: url(/future-tourism/assets/img/join-line_mobile.svg);
    background-position: top 16% right 0;
  }
  .join__container {
    flex-direction: column;
    gap: 2.313rem;
  }
  .join__container h2 {
    font-size: 0.875rem;
  }
  .join__container-list {
    gap: 1.063rem;
    padding-left: 1rem;
  }
  .join__container-list_last {
    left: -0.44rem;
  }
  .join__container-item, .join__container-span {
    font-size: 1.2rem;
  }
  .join__container-last {
    gap: 0.48rem;
  }
  .join__container-img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .join__container-btn {
    padding: 0.781rem 3.125rem;
    margin-top: 4rem;
    font-size: 0.875rem;
  }
  .join__container-btn_link {
    padding-bottom: 0.08rem;
  }
}
.organizer {
  padding: 1.875rem 0;
  background: linear-gradient(to top left, #A1FF8B, #3F93FF);
}
.organizer h2 {
  margin-bottom: 1.5rem;
}
.organizer__container {
  display: flex;
  flex-direction: row;
  gap: 1.563rem;
}
.organizer__container-img {
  display: flex;
  align-self: center;
  width: 4.563rem;
  height: 4.563rem;
}
.organizer__container-span {
  font-weight: 700;
  font-size: 1.688rem;
  line-height: 2rem;
}

@media (max-width: 860px) {
  .organizer {
    padding: 1.5rem 0;
  }
  .organizer h2 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .organizer__container {
    gap: 1.25rem;
  }
  .organizer__container-img {
    width: 3.65rem;
    height: 3.65rem;
  }
  .organizer__container-span {
    font-size: 1.35rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 475px) {
  .organizer {
    padding: 1.438rem 0;
  }
  .organizer h2 {
    font-size: 1.5rem;
    margin-bottom: 0.813rem;
  }
  .organizer__container {
    gap: 0.8rem;
  }
  .organizer__container-img {
    width: 3.25rem;
    height: 3.25rem;
  }
  .organizer__container-span {
    font-size: 1rem;
    line-height: 1.188rem;
  }
}
.partners {
  padding: 4.063rem 0;
}
.partners h2 {
  color: #191919;
  margin-bottom: 2.063rem;
}
.partners__line-top, .partners__line-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 860px) {
  .partners {
    padding: 3.25rem 0;
  }
  .partners h2 {
    font-size: 1.65rem;
    margin-bottom: 1.65rem;
  }
  .partners__line-top, .partners__line-bottom {
    gap: 1.6rem;
  }
  .partners__line-top img, .partners__line-bottom img {
    width: 14rem;
    height: auto;
  }
}
@media (max-width: 475px) {
  .partners {
    padding: 1.813rem 0;
  }
  .partners h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.313rem;
  }
  .partners__line-top, .partners__line-bottom {
    gap: 1rem;
  }
  .partners__line-top img, .partners__line-bottom img {
    width: 14rem;
    height: auto;
  }
  .partners__line-top img:last-child, .partners__line-bottom img:last-child {
    width: 10rem;
  }
}
.footer {
  padding: 3.75rem 0 3rem 0;
}
.footer h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #191919;
  display: flex;
  justify-content: center;
}

@media (max-width: 860px) {
  .footer {
    padding: 3rem 0 2.4rem 0;
  }
  .footer h3 {
    font-size: 1rem;
  }
}
@media (max-width: 475px) {
  .footer {
    padding: 1.875rem 0;
  }
  .footer h3 {
    font-size: 0.75rem;
  }
}
.directions {
  padding: 2.375rem 0;
}
.directions__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.875rem;
}
.directions__container-item {
  position: relative;
  padding: 2.25rem 2.813rem;
  border: 0.438rem solid transparent;
  border-radius: 3.125rem;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom left, #A1FF8B, #3F93FF) border-box;
}
.directions__container-img {
  position: absolute;
  content: "";
  bottom: 4.25rem;
  right: 1.3rem;
  width: 12.625rem;
  height: 11.125rem;
}
.directions__container-text {
  width: 19.563rem;
  display: flex;
  flex-direction: column;
  gap: 1.438rem;
}
.directions__container-text h2 {
  color: #191919;
  font-weight: 700;
  font-size: 1.5rem;
}
.directions__container-text p {
  color: #191919;
  line-height: 1.188rem;
  font-size: 1rem;
}

@media (max-width: 860px) {
  .directions {
    padding: 1.9rem 0;
  }
  .directions__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.875rem;
  }
  .directions__container-item {
    padding: 1.8rem 2.25rem;
  }
  .directions__container-img {
    bottom: 3.4rem;
    right: 1.04rem;
    width: 10.1rem;
    height: 8.9rem;
  }
  .directions__container-text {
    width: 15.65rem;
  }
  .directions__container-text h2 {
    font-size: 1.2rem;
  }
  .directions__container-text p {
    font-size: 0.8rem;
  }
}
@media (max-width: 475px) {
  .directions {
    padding: 1.563rem 0;
  }
  .directions__container {
    display: flex;
    flex-direction: column;
    gap: 0.688rem;
  }
  .directions__container-item {
    padding: 0.938em 1.1rem;
    border-radius: 1.563rem;
    border: 0.188rem solid transparent;
  }
  .directions__container-img {
    bottom: 1.4rem;
    right: 0.5rem;
    width: 5rem;
    height: 4.938rem;
  }
  .directions__container-text {
    width: 13.25rem;
    gap: 0.563rem;
  }
  .directions__container-text h2 {
    font-size: 1rem;
  }
  .directions__container-text p {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}
.burger__btn {
  display: none;
  position: relative;
  z-index: 500;
  width: 2rem;
  height: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.burger__btn::before, .burger__btn::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #4093FF;
  transition: 0.3s ease;
}
.burger__btn::before {
  top: 0;
}
.burger__btn::after {
  bottom: 0;
}
.burger__btn span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #4093FF;
  transform: translateY(-50%);
}
.burger__btn.burger-btn__open {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-image: url(/future-tourism/assets/icons/burger-close_btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.25rem;
  height: 1.25rem;
}
.burger__btn.burger-btn__open::before, .burger__btn.burger-btn__open::after,
.burger__btn.burger-btn__open span {
  display: none;
}

.burger__logo {
  width: 5.438rem;
  height: auto;
  margin-bottom: 1.5rem;
}
.burger__logo img {
  width: 5.438rem;
  height: 1.688rem;
}

.burger__nav {
  width: 16.188rem;
  padding-bottom: 1.063rem;
  border-bottom: 0.063rem solid #FFFFFF;
  margin-bottom: 1.063rem;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.813rem;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.burger__open {
  opacity: 1;
  visibility: visible;
}
.burger__open .burger__content {
  transform: translateX(0);
}
.burger__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin: 0 auto;
  width: 100%;
  height: 19.688rem;
  padding: 2.188rem 3.625rem 2rem 3.625rem;
  background-color: #4093FF;
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

@media (max-width: 475px) {
  .burger__btn {
    display: block;
  }
  .header__link {
    display: none;
  }
  .burger__btn-link {
    background: linear-gradient(to bottom right, #A1FF8B, #3F93FF);
    color: #FFFFFF;
    font-size: 1.25rem;
    padding: 0.688rem 3.344rem 0.688rem 3.344rem;
    border-radius: 6.25rem;
    cursor: pointer;
    border: none;
    font-family: "Actay Wide";
  }
  .burger__nav-item a {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
