$rangoon-green: #191919;
$black: #000000;
$white: #FFFFFF;
$dark-sky-blue: #4093FF;
$dodger-blue: #3F93FF;
$topaz: #10B2A4;
$light-green: #A1FF8B;
$blue-purple: #4F2CDA;
$blue-violet: #A020E4;
$green-gradient: linear-gradient(to bottom right, #A1FF8B, #3F93FF);


