.header {
  background: $white;
  padding: 2.75rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
  }

  &__logo {
    width: 9.5rem;
    height: 2.938rem;

    img {
      width: 9.5rem;
      height: 2.938rem;
    }
  }

  &__link {
    display: flex;
    gap: 4.875rem;
    align-items: center;
  }

  &__nav {
    text-align: center;

    ul {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 3.563rem;
    }

    &-item {
      text-align: center;

      a {
        display: inline-block;
        align-items: center;
        font-family: 'Actay Wide';
        color: $dark-sky-blue;
        text-decoration: none;
        line-height: 1.875rem;
        font-size: 1.5rem;
        align-self: center;
      }
    }
  }

  &__btn {
    @include btn($green-gradient, $white, 1.25rem, 0.688rem, 3.344rem, 0.688rem, 3.344rem, 6.25rem);
    font-family: 'Actay Wide';
  }

}


@media (max-width: 860px) {
  .header {
    padding: 2.2rem 0;
    position: static;

    &__container {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 7.6rem;
      height: 2.35rem;

      img {
        width: 7.6rem;
        height: 2.35rem;
      }
    }

    &__link {
      gap: 3.9rem;
    }

    &__nav {
      ul {
        gap: 2.85rem;
      }

      &-item {
        a {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
    }

    &__btn {
      font-size: 1rem;
      padding: 0.55rem 2.68rem;
    }

  }
}


@media (max-width: 475px) {
  .header {
    padding: 1.5rem 0;
    flex-wrap: wrap;

    &__logo {
      width: 7.6rem;
      height: 2.35rem;

      img {
        width: 7.6rem;
        height: 2.35rem;
      }
    }

    &__link {
      gap: 2.5rem;
      flex-wrap: wrap;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    .burger__btn {
      display: block;
    }
  }
}
