.join {
  padding: 3.75rem 0;

  &__wrap {
    background-image: url(#{$base-url}/assets/icons/join__section-line.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      color: $rangoon-green;
    }

    &-right {
      position: relative;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      list-style: decimal;

      
    }

    &-list_last {
      position: absolute;
      left: -1.8rem;
    }


    &-item,
    &-span {
      color: $rangoon-green;
      font-weight: 500;
      font-size: 1.5rem;
      text-decoration: none;
    }

    &-last {
      padding-top: 1.5rem;
      display: flex;
      flex-direction: row;
      gap: 0.6rem;
    }


    &-img {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-self: center;
    }

    &-btn {
      display: flex;
      align-self: center;
      @include btn($green-gradient, $white, 1.25rem, 0.75rem, 4.25rem, 0.75rem, 4.25rem, 6.25rem);
      font-family: 'Actay Wide';
      margin-top: 5rem;

      &_link {
        margin: 0 auto;
        text-decoration: none;
        padding-bottom: 0.1rem;
        border-bottom: 0.063rem solid $white;
      }
    }
  }
}

@media (max-width: 860px) {
  .join {
    padding: 3rem 0;


    &__container {
      flex-direction: row; 
    }

    &__container h2 {
      font-size: 1.8rem;
    }

    &__container-list {
      gap: 1.2rem;
    }

    &__container-list_last {
      left: -1.44rem;
    }

    &__container-item,
    &__container-span {
      font-size: 1.2rem; 
    }

    &__container-last {
      gap: 0.48rem;
    }

    &__container-img {
      width: 1.2rem;
      height: 1.2rem;
    }

    &__container-btn {
      margin-top: 4rem;
      font-size: 1rem;
    }

    &__container-btn_link {
      padding-bottom: 0.08rem;
    }
  }
}

@media (max-width: 475px) {
  .join {
    padding: 1.563rem 0;
  

    &__wrap {
      background-image: url(#{$base-url}/assets/img/join-line_mobile.svg);
      background-position: top 16% right 0;
    }
    

    &__container {
      flex-direction: column; 
      gap: 2.313rem;
    }

    &__container h2 {
      font-size: 1.2rem;
    }

    &__container-list {
      gap: 1.063rem;
      padding-left: 1rem;
    }

    &__container-list_last {
      left: -0.44rem;
    }

    &__container-item,
    &__container-span {
      font-size: 1.2rem; 
    }

    &__container-last {
      gap: 0.48rem;
    }

    &__container-img {
      width: 1.2rem;
      height: 1.2rem;
    }

    &__container-btn {
      padding: 0.781rem 3.125rem;
      margin-top: 4rem;
      font-size: 0.875rem;
    }

    &__container-btn_link {
      padding-bottom: 0.08rem;
    }
  }
}


