.organizer {
  padding: 1.875rem 0;
  background: linear-gradient(to top left, #A1FF8B, #3F93FF);

  h2 {
    margin-bottom: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1.563rem;

    &-img {
      display: flex;
      align-self: center;
      width: 4.563rem;
      height: 4.563rem;
    }
  
    &-span {
      font-weight: 700;
      font-size: 1.688rem;
      line-height: 2rem;
    }
  }
  
}