 .possibilities {
  position: relative;
  padding: 3.75rem;
  background: 
  linear-gradient(to bottom left, $light-green, $dodger-blue);

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 46.125rem;
    height: 92%;
    //  background-image: url(../../assets/img/possibilities.png);
    background-image: url(#{$base-url}/assets/img/possibilities.png);
    background-repeat: no-repeat;
    background-size: cover;
  }



  h2 {
    margin-bottom: 3.75rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.813rem;
  }

  &__container {
    padding: 1.025rem 0 1.025rem 2.5rem;
    width: 50%;
    border-radius: 6.25rem;
    background: linear-gradient(to right , $blue-purple, $blue-violet);

    &-wrap {
      display: flex;
      flex-direction: row;
      gap: 1.313rem;

      
    }

    &-img {
      width: 2.813rem;
      height: 1.951rem;
      display: flex;
      align-self: center;
    }

    &-span {
      font-weight: 600;
      line-height: 1.813rem;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 860px) {
  .possibilities {
    padding: 3rem;

    &::before {
      width: 36.9rem;
    }

    h2 {
      margin-bottom: 3rem;
    }

    &__container {
      padding: 0.82rem 0 0.82rem 2rem;
      width: 40%;
    }

    &__container-wrap {
      gap: 1.05rem;
    }

    &__container-img {
      width: 2.25rem;
      height: 1.56rem;
    }

    &__container-span {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}



@media (max-width: 475px) {
  .possibilities {
    padding: 2.188rem 0 0 0;

    &::before {
      // background-image: url(../../assets/img/possibilities-mobile.svg);
      background-image: url(#{$base-url}/assets/img/possibilities-mobile.svg);
      background-size: 21.768rem 12.711rem;
      background-position: bottom 0 right -4rem;
    }

    &__list {
      row-gap: 0.6rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.938rem;
      margin-bottom: 0.75rem;
    }

    &__container {
      padding: 0.75rem;
      width: 100%;

     
    }

    &__container:last-child {
      margin-bottom: 11.813rem;
    }



    &__container-wrap {
      gap: 1.05rem;
    }

    &__container-img {
      width: 1.625rem;
      height: 1rem;
    }

    &__container-span {
      font-size: 0.7rem;
      line-height: 0.9rem;
    }
  }
}